*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    padding: 20px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header #logo{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.header a{
    text-decoration: none;
    color: lightgray;

}

.header img{
    height: 25px;
    width: 25px;
    
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.main .calculator{
    border-style: solid;
    height: 500px;
    width: 350px;
    border-width: 4px;
    border-radius: 20px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.main .calculator .screen{
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    background-color: white;
}

.main .calculator .keyboard{
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 300px;
    display: grid;
    flex-direction: column;
    
}

.main .calculator .keyboard #first-row{
    display: flex;
    width: 300px;
    justify-content: space-between;
    gap: 10px;
}

.main .calculator .keyboard #second-row{
    display: flex;
    width: 300px;
    justify-content: space-between;
    gap: 10px;
}

.main .calculator .keyboard #third-row{
    display: flex;
    width: 300px;
    justify-content: space-between;
    gap: 10px;
}

.main .calculator .keyboard #fourth-row{
    display: flex;
    width: 300px;
    justify-content: space-between;
    gap: 10px;
}

.main .calculator .keyboard #fifth-row{
    display: flex;
    width: 300px;
    justify-content: space-between;
    gap: 10px;
}

.main .calculator .keyboard button{
    flex: 1;
    height: 60px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    font-size: large;
}

.footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: lightgray;
  padding: 20px;
}